@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrão: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/* Podemos utilizar esse "*" como seletor glogal, ao invés de colocar P, h1, h2 etc. vale para todo os elemento qualquer modificação dentro do *{} é global!*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
}

a.externo::after {
    content: '\1F517';
} /* aqui todo link depois do conteúdo vai ter os 'elos' da corrente na class do conteúdo html*/

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header>h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.529);

}

header>p {
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.529);
}

nav {

    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

nav>a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .3s;
}

nav>a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);
    border-radius: 0px 0px 10px 10px;
    /*pode fazer de forma individual também*/
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    /* aqui organiza o p de forma geral dentro de main pois pode existir um 'article', 'div' por exemplo e desse jeito infoma que a formatação em 'p' em qualquer nível*/
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    /* recuo do parágrafo*/
    font-size: 1em;
    line-height: 2em;
    /* espaçamento entre linhas*/
}

main strong {
    color: var(--cor4);
    font-weight: bold;

}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
    border-radius: 10px;
}

main a:hover {
    text-decoration: none;
    color: var(--cor3);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 30%;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%; /* esse valor é relacionado a uma borda preta que aparece no vídeo do youtube, mudando ela interfere no tamanho do vídeo*/
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.297);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /* mudar o ponto para 'v - check' da lista; o valor '00A0' é o espaço sem quebra */
    list-style-position: inside; /* valor para colocar as bolinhas para o lado de dentro*/
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.7em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}